@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
  --text: hsl(136, 38%, 94%);
  --background: hsl(138, 46%, 7%);
  --background-lighter: hsl(138, 46%, 10%);
  --primary: hsl(138, 56%, 73%);
  --secondary: hsl(138, 65%, 31%);
  --accent: hsl(138, 75%, 50%);
}

* {
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

html,
body {
  margin: 0;
  overflow: hidden;
  min-height: 100vh;
  color: var(--text);
  background-color: var(--background);
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#app > .header {
  display: flex;
  flex-direction: row;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
}

#app > .header > .title {
  font-size: 20px;
  font-weight: 600;
}

button {
  padding: 6px 12px;
  background-color: var(--primary);
  color: 0;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

#app > .content {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

#app > .content > .left {
  height: 100%;
  width: 50%;
}

#app > .content > .left > .top {
  width: 100%;
  height: 50%;
}

#app > .content > .left > .bottom {
  width: 100%;
  height: 50%;
}

#app > .content > .right {
  height: 100%;
  width: 50%;
  border-left: 2px solid var(--background-lighter);
}

.widgetHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding: 8px;
  background-color: var(--background-lighter);
  height: 46px;
}

#rawJSONInput,
#rawHTMLOutput {
  width: 100%;
  height: calc(100% - 46px);
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  font-family: monospace;
  padding: 8px;
}

select {
  padding: 8px;
  background-color: var(--primary);
  color: 0;
  border: none;
  border-radius: 4px;
}

option {
  font-family: "DM Sans", sans-serif;
}

iframe {
  width: 100%;
  height: 100%;
  background-color: white;
  border: none;
}

pre,
code {
  word-wrap: break-all;

  white-space: wrap;
}
